@using projectWEB.Extensions;

@model projectWEB.ViewModels.PageViewModel

@{
    var title = string.Format("{0} {1} {2}", Model.PageTitle, string.IsNullOrEmpty(Model.PageTitle) ? "" : "-", projectWEB.Helpers.ConfigurationsHelper.ApplicationName).Replace("  ", " ").Trim();
}
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<title>@title</title>
<meta name="description" content="@Model.PageDescription">
<meta property="og:title" content="@title" />
<meta property="og:description" content="@Model.PageDescription" />
<meta property="og:url" content="@Model.PageURL.ToSiteURL()" />
<meta property="og:image" content="@Model.PageImageURL.ToSiteURL()" />
<meta property="og:type" content="website" />
<meta name="robots" content="index, follow" />

@foreach (var canonicalURL in Model.PageCanonicalURLs)
{
    <link rel="canonical" href="@canonicalURL" />
}