<!doctype html>
<html class="no-js">
<head>
    <!-- Basic -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <!-- Mobile Meta -->
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">

    <!-- Site Meta -->
    <title>@ViewData["Title"] - projectWEB</title>
    <meta name="keywords" content="Shop, fancyshmancy, wubbalubbadubdub">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Site Icons -->
    <link rel="shortcut icon" href="~/favicon.ico" type="image/x-icon" />
    <link rel="apple-touch-icon" href="~/favicon.ico">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,400i,500,700,900" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Droid+Serif:400,400i,700,700i" rel="stylesheet">

    <!-- Custom & Default Styles -->

    <link rel="stylesheet" href="~/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/css/bootstrap-select.min.css">
    <link rel="stylesheet" href="~/css/animate.css">
    <!-- <link rel="stylesheet" href="~/css/shopstyle.css">-->
    <link rel="stylesheet" href="~/css/prettyPhoto.css">
    <link rel="stylesheet" href="~/style.css">

    <script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
    @if (Context.Request.Path.Value.Contains("Info"))
    {
       
        <style>
            .mapouter {
                position: relative;
                text-align: right;
                height: 500px;
                width: 600px;
            }

            .gmap_canvas {
                overflow: hidden;
                background: none !important;
                height: 500px;
                width: 600px;
            }
        </style>
    }



</head>
<body>
    <div class="container-fluid mt-5">
        <!-- LOADER -->
        <div id="preloader">
            <img class="preloader" src="~/images/loader.gif" alt="">
        </div><!-- end loader -->
        <!-- END LOADER -->

        <div id="wrapper">
            <!-- BEGIN # MODAL LOGIN -->
            <div class="modal fade" id="login-modal" tabindex="-1" role="dialog" aria-hidden="true" style="display: none;">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <!-- Begin # DIV Form -->
                        <div id="div-forms">
                            <form asp-action="Search" id="login-form">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span class="flaticon-add" aria-hidden="true"></span>
                                </button>
                                <div class="modal-body">
                                    <input class="form-control" name="Phrase" id="Phrase" type="text" placeholder="What you are looking for?" required />
                                </div>
                            </form><!-- End # Login Form -->
                        </div><!-- End # DIV Form -->
                    </div>
                </div>
            </div>
            <!-- END # MODAL LOGIN -->

            <header class="header header-normal">
                <div class="topbar clearfix">
                    <div class="container">
                        <div class="row-fluid">
                            <div class="col-md-6 col-sm-6 text-left">
                                <p>
                                    <strong><i class="fa fa-phone"></i></strong> +972 123 123 45 67 &nbsp;&nbsp;
                                    <strong><i class="fa fa-envelope"></i></strong> <a href="mailto:#">info@webappcourse.com</a>
                                </p>
                            </div><!-- end left -->
                            <div class="col-md-6 col-sm-6 hidden-xs text-right">
                                <div class="social">
                                    <a class="facebook" href="https://www.facebook.com/Shoppingsite-colweb-109520194305954" data-tooltip="tooltip" data-placement="bottom" title="Facebook"><i class="fa fa-facebook"></i></a>
                                </div><!-- end social -->
                            </div><!-- end left -->
                        </div><!-- end row -->
                    </div><!-- end container -->
                </div><!-- end topbar -->

                <div class="container">
                    <nav class="navbar navbar-default yamm">
                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                                <span class="sr-only">Toggle navigation</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                            <div class="logo-normal">
                                <a class="navbar-brand" asp-controller="Items" asp-action="Mainshop"><img src="~/images/logo-dark.png" alt=""></a>
                            </div>
                        </div>

                        <div id="navbar" class="navbar-collapse collapse">
                            <ul class="nav navbar-nav navbar-right">
                                <li><a asp-controller="Items" asp-action="Mainshop">Home</a></li>
                                <li><a href="@Url.Action("ListAllOrdersByDate","Orders")" style="color: cornflowerblue">Your Orders History</a></li>
                              
                                @*<li><a asp-controller="RegisteredUsers" asp-action="login">Login</a></li>*@ <!-- keep it as an option -->
                                @if (ViewBag.membertype == "Admin")
                                {
                                    <li class="dropdown hassubmenu">
                                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Admin<span class="fa fa-angle-down"></span></a>
                                        <ul class="dropdown-menu" role="menu">
                                            <li><a asp-controller="RegisteredUsers" asp-action="Index">Users</a></li>
                                            <li><a asp-controller="Items" asp-action="Index">Items</a></li>
                                            <li><a asp-controller="Orders" asp-action="Index">Orders</a></li>
                                            <li><a asp-controller="Branches" asp-action="Index">Branches</a></li>
                                            <li><a asp-controller="Categories" asp-action="Index">Categories</a></li>
                                        </ul>
                                    </li>
                                }
                                <li><a asp-controller="Orders" asp-action="Statistics">Statistics</a></li>
                                <li><a asp-controller="Branches" asp-action="Info">Contact</a></li> <!-- TODO -->
                                <li class="iconitem"><a href="#" data-toggle="modal" data-target="#login-modal"><i class="fa fa-search"></i></a></li>
                                <li class="iconitem"><a class="shopicon" href="@Url.Action("Index","Cart")"><i class="fa fa-shopping-basket"></i> &nbsp;@(ViewBag.size != null ? ViewBag.size : 0)</a></li>
                            </ul>
                        </div>
                    </nav><!-- end navbar -->
                </div><!-- end container -->
            </header>
            
            <div class="col-3" style="width: 265px; position: absolute; z-index: 123;">
                <ul class="list-group">
                    @if (ViewBag.modelCategory != null)
                    {
                        @foreach (var item in ViewBag.modelCategory)
                        {
                            <a href="@Url.Action("showProductsOfCategory", "Categories", new { id = item.id })">
                                <li class="list-group-item">
                                    @(item.name)
                                </li>
                            </a>
                        }
                    }
                </ul>
                <div class="cart-menu bg-dark text-white p-3 mt-3" style="background-color: #343a40!important; color: white; min-height:60px;">
                    @if (ViewBag.cart == null)
                    {
                        <p style="margin-top: 5px">Your cart is empty.</p>
                    }
                    else
                    {
                        <p>You have @ViewBag.size item in your cart</p>
                        <p>Total price: $@ViewBag.total </p>
                        <p>
                            <a class="btn btn-success" href="@Url.Action("Index","Cart")" style="border: none !important; margin-left: 7px; padding: 8px 26px; margin-bottom: 5px;">View cart</a>
                            <a class="btn btn-danger float-right" href="@Url.Action("DeleteCart","Cart")" style="border: none !important; margin-left: 18px; padding: 8px 26px; margin-bottom: 5px;">Clear cart</a>
                        </p>
                    }
                </div>
                @if (ViewBag.RecommendedItem != null)
                {
                    <div style="background-color: white; color: black; min-height:60px;">                     
                            <p style="margin-top: 30px; font-weight: bold;">Product you might like:</p>

                            <div class="col-md-8" style="width: 100%">
                                <div class="course-box shop-wrapper">
                                    <div class="image-wrap entry">
                                        @if (@ViewBag.RecommendedItem.image != null)
                                        {
                                            var base64 = Convert.ToBase64String(@ViewBag.RecommendedItem.image);
                                            var imgSrc = String.Format("data:image;base64,{0}", base64);
                                            <img src="@imgSrc" alt="" class="img-responsive">
                                        }
                                        else
                                        {
                                            <img src="~/upload/shop_01.jpg" alt="" class="img-responsive">
                                        }
                                        <div class="magnifier">
                                            <a asp-action="item_details" asp-route-id="@ViewBag.RecommendedItem.id" title=""><i class="flaticon-add"></i></a>
                                        </div>
                                    </div>
                                    <!-- end image-wrap -->
                                    <div class="course-details shop-box text-center">
                                        <h4>
                                            <a asp-action="item_details" asp-route-id="@ViewBag.RecommendedItem.id" title="">@ViewBag.RecommendedItem.ItemName</a>
                                            @*<small>@Html.DisplayFor(modelItem => item.ItemDevision)</small>*@
                                        </h4>
                                    </div>
                                    <!-- end details -->
                                    <div class="course-footer clearfix">
                                        <div class="pull-left">
                                            <ul class="list-inline">
                                                <li><a href="@Url.Action("Add","Cart", new {id = @ViewBag.RecommendedItem.id})"><i class="fa fa-shopping-basket"></i> Add Cart</a></li> <!-- TODO cart model -->
                                            </ul>
                                        </div><!-- end left -->

                                        <div class="pull-right">
                                            <ul class="list-inline">
                                                <li><a href="#">$@ViewBag.RecommendedItem.price</a></li>
                                            </ul>
                                        </div><!-- end left -->
                                    </div><!-- end footer -->
                                </div><!-- end box -->
                            </div><!-- end col -->                      
                    </div>
                    }
                </div>
            

            @RenderBody()

            <footer class="section footer noover">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-4 col-md-4">
                            <div class="widget clearfix">
                                <h3 class="widget-title">Subscribe Our Newsletter</h3>
                                <div class="newsletter-widget">
                                    <p>You can opt out of our newsletters at any time.<br> See our <a href="#">privacy policy</a>.</p>
                                    <form class="form-inline" role="search">
                                        <div class="form-1">
                                            <input type="text" class="form-control" placeholder="Enter email here..">
                                            <button type="submit" class="btn btn-primary"><i class="fa fa-paper-plane-o"></i></button>
                                        </div>
                                    </form>
                                    <img src="~/images/payments.png" alt="" class="img-responsive">
                                </div><!-- end newsletter -->
                            </div><!-- end widget -->
                        </div><!-- end col -->

                        <div class="col-lg-3 col-md-3">
                            <div class="widget clearfix">
                                <h3 class="widget-title">Colman project</h3>
                                <p> our web project </p>
                                <a href="#" class="readmore"> Web application</a>
                            </div><!-- end widget -->
                        </div><!-- end col -->

                        <div class="col-lg-3 col-md-3">
                            <div class="widget clearfix">
                                <h3 class="widget-title">Popular Tags</h3>
                                <div class="tags-widget">
                                    <ul class="list-inline">
                                        <li><a href="#">Store</a></li>
                                        <li><a href="#">Online</a></li>
                                        <li><a href="#">Shop</a></li>
                                        <li><a href="#">Blabla</a></li>
                                        <li><a href="#">Bla</a></li>
                                        <li><a href="#">wasting</a></li>
                                        <li><a href="#">Time</a></li>
                                        <li><a href="#">For css</a></li>
                                        <li><a href="#">and html</a></li>
                                        <li><a href="#">learning</a></li>
                                    </ul>
                                </div><!-- end list-widget -->
                            </div><!-- end widget -->
                        </div><!-- end col -->

                        <div class="col-lg-2 col-md-2">
                            <div class="widget clearfix">
                                <h3 class="widget-title">Support</h3>
                                <div class="list-widget">
                                    <ul>
                                        <li><a href="#">Terms of Use</a></li>
                                        <li><a href="#">Copyrights</a></li>
                                        <li><a href="#">Create a Ticket</a></li>
                                        <li><a href="#">Pricing & Plans</a></li>
                                        <li><a href="#">Carrier</a></li>
                                        <li><a href="#">Trademark</a></li>
                                    </ul>
                                </div><!-- end list-widget -->
                            </div><!-- end widget -->
                        </div><!-- end col -->
                    </div><!-- end row -->
                </div><!-- end container -->
            </footer><!-- end footer -->

            <div class="copyrights">
                <div class="container">
                    <div class="clearfix">
                        <div class="pull-left">
                            <div class="cop-logo">
                                <a href="#"><img src="~/images/logo.png" alt=""></a>
                            </div>
                        </div>

                        <div class="pull-right">
                            <div class="footer-links">
                                <ul class="list-inline">
                                    <li>Design? : <a href="#">Bootstrap</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div><!-- end container -->
            </div><!-- end copy -->
        </div><!-- end wrapper -->
    </div>

    <!-- jQuery Files -->
    <script src="~/js/jquery.min2.js"></script>
    <script src="~/js/bootstrap.min.js"></script>
    <script src="~/js/animate.js"></script>
    <script src="~/js/bootstrap-select.min.js"></script>
    <script src="~/js/custom.js"></script>
    <script src="~/js/site.js"></script>

    @RenderSection("Scripts", required: false)
</body>
</html>