@{
    ViewData["Title"] = "View";
    Layout = "~/Views/Shared/_shopLayout.cshtml";
}
<!doctype html>
<html lang="en">

<head>
</head>

<body>

    <div class="container-fluid mt-5">
        <div class="row">
            <div class="col"></div>
            <div class="col-7">
                <h2 class="display-4" style="text-align: center">Cart Overview</h2>
                <table class="table" style="width: 70%; margin: 0 auto;">
                    <tr class="tr-titles">
                        <th>Product</th>
                        @* <th>Image</th>*@
                        <th>Quantity</th>
                        <th>Price</th>
                        <th>Total</th>
                    </tr>

                    <tr>
                        <td>
                            <a href="/cart/clear" class="btn btn-danger">Clear Cart</a>
                        </td>
                        <td colspan="4" class="text-right">
                            <a href="@Url.Action("Checkout","Cart")" class="btn btn-success checkout">Checkout</a>
                        </td>
                    </tr>
                </table>
            </div>
            <div class="col"></div>
        </div>
    </div>


    <script src="~/js/jquery.min2.js"></script>
    <script src="~/js/bootstrap.min.js"></script>
    <script src="~/js/animate.js"></script>
    <script src="~/js/bootstrap-select.min.js"></script>
    <script src="~/js/custom.js"></script>
    <script src="~/js/site.js"></script>
    <script type="text/javascript">
        $(window).on('load', function () {
            $('.cart-menu').hide();
            //$('.col-md-4.col-md-offset-4').removeClass('col-md-4').removeClass('col-md-offset-4');
        $.ajax({
            type: 'GET',
            url: '@Url.Action("GetCart","Cart")',
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (data) {
                var sum = 0;
                debugger;
                for (var j = 0; j < Object.keys(data).length; j++){
                    var i = Object.keys(data)[j];
                   sum += data[i].price * data[i].quantity;
                   var tr = $('<tr class="tr-cart-list"></tr>');
                   var tdName = $('<td>' + data[i].name + '</td>');
                    //var tdImage = $('<td><img style="width: 100px;"src="' + data[i].image + '"/></td>');
                   var td = $('<td>'
                        + '<span>' + data[i].quantity + '</span>'
                        + '<a href="@Url.Action("Add", "Cart")?id=' + data[i].id +'&cartView=true" class="btn-success btn-sm">+</a>'
                        + '<a href="@Url.Action("Subtract", "Cart")?id=' + data[i].id +'&cartView=true" class="btn-success btn-sm" style="background-color:#007bff;border-color:#007bff">-</a>'
                        + '<a href="@Url.Action("Delete", "Cart")?id=' + data[i].id + '&cartView=true" class="btn-success btn-sm" style="background-color:#d9534f;border-color:#d9534f">remove</a>'
                        + '</td>');
                   var tdPrice = $('<td>' + data[i].price + '</td>');
                   var tdTotal = $('<td>' + data[i].price * data[i].quantity + '</td>');
                    $(tr).append(tdName);
                    $(tr).append(td);
                    $(tr).append(tdPrice);
                    $(tr).append(tdTotal);
                    $('.tr-titles').after($(tr));
                }
                var trTotal = $('<tr></tr>');
                var td1 = $('<td class="text-right" colspan="4"><b>Grand Total:</b></td>');
                var td2 = $('<td colspan="1">' + sum + '</td>');
                $(trTotal).append(td1);
                $(trTotal).append(td2);
                $('.tr-cart-list').last().after($(trTotal));
            },
            error: function (data) {
                alert('error');
            }
            });
    });

    </script>

</body>

</html>