@model IEnumerable<projectWEB.Data.Item>

@{
    Layout = "~/Views/Shared/_shopLayout.cshtml";
}

<section class="section lb p120">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="tagline-message page-title text-center">
                    <h3>Shopping</h3>
                    <ul class="breadcrumb">
                        <li><a href="javascript:void(0)">Edit HERE</a></li> <!-- TODO -->
                        <li class="active">Shop</li>
                    </ul>
                </div>
            </div><!-- end col -->
        </div><!-- end row -->
    </div><!-- end container -->
</section><!-- end section -->

<section class="section gb nopadtop">
    <div class="container">
        <div class="boxed boxedp4">
            <div class="shop-top">
                <div class="clearfix">
                    <div class="pull-left">
                        <p> Showing 1–9 of 11 results</p>
                        
                        <!-- submit was here before-->
                    </div>
                    <div class="pull-right">
                        <input style="display:none" type="submit" id="itemsorter" asp-action="Sort" />
                        <select class="selectpicker sortby">
                            <!-- TODO sort display method -->
                            <option value="" disabled selected>Order by</option>
                            <option value="1">Price - High to Low</option>
                            <option value="2">Price - Low to High</option>
                            <option value="3">Newest Items</option>
                            <option value="4">Older Items</option>
                        </select>
                    </div>
                </div>

            </div>

                    <div class="row blog-grid shop-grid" id="shop-grid">
                    @if (Model != null)
                      {
                        @foreach (var item in Model.Take(12))
                        {
                            <div class="col-md-3">
                                <div class="course-box shop-wrapper">
                                    <div class="image-wrap entry">
                                        <img src="~/upload/shop_01.jpg" alt="" class="img-responsive"> <!-- TODO redirect to image method -->
                                        <div class="magnifier">
                                            <a asp-action="item_details" asp-route-id="@item.id" title=""><i class="flaticon-add"></i></a>
                                        </div>
                                    </div>
                                    <!-- end image-wrap -->
                                    <div class="course-details shop-box text-center">
                                        <h4>
                                            <a asp-action="item_details" asp-route-id="@item.id" title="">@Html.DisplayFor(modelItem => item.ItemName)</a>
                                            <small>@Html.DisplayFor(modelItem => item.ItemDevision)</small>
                                        </h4>
                                    </div>
                                    <!-- end details -->
                                    <div class="course-footer clearfix">
                                        <div class="pull-left">
                                            <ul class="list-inline">
                                                @if (item.amount > 0) { 
                                                <li><a href="#" id="AddCartLink" value='@item.id'><i class="fa fa-shopping-basket"></i> Add Cart</a><input type="hidden" style="display:none" asp-controller="Transactions" asp-action="Addtocart" asp-route-id="@item.id" id="AddToCart" /></li> <!-- TODO cart model -->
                                                
                                                }
                                                else { <a> <i class="fa fa-truck">This item is currntly out of stock</i> </a>}
                                            </ul>
                                        </div><!-- end left -->

                                        <div class="pull-right">
                                            <ul class="list-inline">
                                                <li><a href="#">$@Html.DisplayFor(modelItem => item.price)</a></li>
                                            </ul>
                                        </div><!-- end left -->
                                    </div><!-- end footer -->
                                </div><!-- end box -->
                            </div><!-- end col -->
                        }
                       }
                    </div><!-- end row -->
                    
                
                    
                <hr class="invis">

                <div class="row text-center">
                    <div class="col-md-12">
                        <ul class="pagination">
                            <li class="disabled"><a href="javascript:void(0)">&laquo;</a></li>
                            <li class="active"><a href="javascript:void(0)">1</a></li>
                            <li><a href="javascript:void(0)">2</a></li> <!-- TODO paging system with ajax -->
                            <li><a href="javascript:void(0)">3</a></li>
                            <li><a href="javascript:void(0)">...</a></li>
                            <li><a href="javascript:void(0)">&raquo;</a></li>
                        </ul>
                    </div><!-- end col -->
                </div><!-- end row -->
            </div>
        </div><!-- end container -->
 </section>

           
   