@model IEnumerable<projectWEB.Models.Transaction>

@{
    ViewData["Title"] = "Pendig Transactions";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Pendig Transactions</h2>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TranscationDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Customer)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SumPrice)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Customer.CreditCard)
            </th>
            
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TranscationDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Customer.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SumPrice)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.Customer.CreditCard)
            </td>
            <td>
                @if (ViewBag.membertype == "SalesPerson")
                {<a asp-action="Accept" asp-route-id="@item.Id">Accept Payment</a>}| 
                @if(ViewBag.membertype == "Admin")
                {<a asp-action="Delete" asp-route-id="@item.Id">Delete</a>}
            </td>
        </tr>
}
    </tbody>
</table>
